<%= form_with(model: sdev140, local: true) do |form| %>
  <% if sdev140.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sdev140.errors.count, "error") %> prohibited this sdev140 from being saved:</h2>

      <ul>
      <% sdev140.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
